.hidden {
    display: none;
}
.entry {
    padding: 10px;
    border: 1px solid blue;
    border-radius: 10px;
}
.entry > div {
    display: inline-block;
}
.entry > button {
    border: none;
    background-color: transparent;
}
